body {
  background-color: #660000;
}

nav {
float: center;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
}


  nav: hover{
  background-color: black;
  color: white;
  }


    img {
      width: 500px;
      height: 300px;
    }

    h2 {
      color: white;
      text-align: center;
    }

    .text {
      background: #fce5cd;
    }

    p {
      color: white;
    }

    iframe {
      float: center;
      width: 400px;
      height: 200px;
    }

    blockquote {
      color: white;
      text-align: center;
    }

  
