body {
  background-color: #660000;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(12, 20, 48, 1);
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(0);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  color: black;
  background-color: white;
}
 a {
    text-decoration: none;
   color: black;
    padding: 16px;
 }

a:hover {
  background-color: #660000;
  border-radius: 10px;
  color: white;
}

    img {
      width: 1800px;
      height: 500px;
      float: center;;
    }

    h2 {
      color: white;
      text-align: center;
    }

    .text {
      background: #fce5cd;
    }

    p {
      color: black;
    }

    iframe {
      float: center;
      width: 400px;
      height: 200px;
    }

    blockquote {
      color: black;
      text-align: center;
    }

  
